/.idea/.idea.RecipeApp/.idea/.gitignore
/RecipeApp/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/RecipeApp/obj/Debug/net9.0-desktop/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/RecipeApp.Tests/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/RecipeApp/obj/Debug/net9.0-desktop/apphost.exe
/RecipeApp/obj/Debug/net9.0/build-time-generator.touch
/RecipeApp/obj/Debug/net9.0-desktop/build-time-generator.touch
/RecipeApp.Tests/obj/Debug/net9.0/build-time-generator.touch
/RecipeApp/bin/Debug/net9.0-desktop/CommonServiceLocator.dll
/RecipeApp/bin/Debug/net9.0-desktop/CommunityToolkit.Mvvm.dll
/.idea/.idea.RecipeApp/.idea/copilot.data.migration.agent.xml
/.idea/.idea.RecipeApp/.idea/copilot.data.migration.ask.xml
/.idea/.idea.RecipeApp/.idea/copilot.data.migration.ask2agent.xml
/.idea/.idea.RecipeApp/.idea/copilot.data.migration.edit.xml
/RecipeApp.Tests/bin/Debug/net9.0/CoverletSourceRootsMapping_RecipeApp.Tests
/.idea/.idea.RecipeApp/.idea/discord.xml
/.idea/.idea.RecipeApp/.idea/encodings.xml
/.vscode/extensions.json
/RecipeApp/bin/Debug/net9.0-desktop/HarfBuzzSharp.dll
/RecipeApp/bin/Debug/net9.0-desktop/icon.ico
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/icon.ico
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/icon_foreground.png
/RecipeApp/obj/Debug/net9.0/unoresizetizer/r/Assets/Icons/icon_foreground.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/icon_foreground.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/icon_foreground.scale-100.png
/RecipeApp/obj/Debug/net9.0/unoresizetizer/r/Assets/Icons/icon_foreground.scale-100.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/icon_foreground.scale-100.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/icon_foreground.scale-125.png
/RecipeApp/obj/Debug/net9.0/unoresizetizer/r/Assets/Icons/icon_foreground.scale-125.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/icon_foreground.scale-125.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/icon_foreground.scale-150.png
/RecipeApp/obj/Debug/net9.0/unoresizetizer/r/Assets/Icons/icon_foreground.scale-150.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/icon_foreground.scale-150.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/icon_foreground.scale-200.png
/RecipeApp/obj/Debug/net9.0/unoresizetizer/r/Assets/Icons/icon_foreground.scale-200.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/icon_foreground.scale-200.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/icon_foreground.scale-300.png
/RecipeApp/obj/Debug/net9.0/unoresizetizer/r/Assets/Icons/icon_foreground.scale-300.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/icon_foreground.scale-300.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/icon_foreground.scale-400.png
/RecipeApp/obj/Debug/net9.0/unoresizetizer/r/Assets/Icons/icon_foreground.scale-400.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/icon_foreground.scale-400.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLargeTile.scale-100.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLargeTile.scale-100.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLargeTile.scale-125.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLargeTile.scale-125.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLargeTile.scale-150.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLargeTile.scale-150.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLargeTile.scale-200.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLargeTile.scale-200.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLargeTile.scale-400.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLargeTile.scale-400.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-lightunplated_targetsize-16.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-lightunplated_targetsize-16.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-lightunplated_targetsize-24.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-lightunplated_targetsize-24.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-lightunplated_targetsize-32.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-lightunplated_targetsize-32.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-lightunplated_targetsize-48.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-lightunplated_targetsize-48.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-lightunplated_targetsize-256.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-lightunplated_targetsize-256.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-unplated_targetsize-16.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-unplated_targetsize-16.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-unplated_targetsize-24.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-unplated_targetsize-24.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-unplated_targetsize-32.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-unplated_targetsize-32.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-unplated_targetsize-48.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-unplated_targetsize-48.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.altform-unplated_targetsize-256.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.altform-unplated_targetsize-256.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.scale-100.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.scale-100.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.scale-125.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.scale-125.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.scale-150.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.scale-150.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.scale-200.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.scale-200.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.scale-400.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.scale-400.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.targetsize-16.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.targetsize-16.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.targetsize-24.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.targetsize-24.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.targetsize-32.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.targetsize-32.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.targetsize-48.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.targetsize-48.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconLogo.targetsize-256.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconLogo.targetsize-256.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconMediumTile.scale-100.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconMediumTile.scale-100.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconMediumTile.scale-125.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconMediumTile.scale-125.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconMediumTile.scale-150.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconMediumTile.scale-150.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconMediumTile.scale-200.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconMediumTile.scale-200.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconMediumTile.scale-400.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconMediumTile.scale-400.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconSmallTile.scale-100.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconSmallTile.scale-100.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconSmallTile.scale-125.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconSmallTile.scale-125.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconSmallTile.scale-150.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconSmallTile.scale-150.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconSmallTile.scale-200.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconSmallTile.scale-200.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconSmallTile.scale-400.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconSmallTile.scale-400.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconStoreLogo.scale-100.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconStoreLogo.scale-100.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconStoreLogo.scale-125.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconStoreLogo.scale-125.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconStoreLogo.scale-150.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconStoreLogo.scale-150.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconStoreLogo.scale-200.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconStoreLogo.scale-200.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconStoreLogo.scale-400.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconStoreLogo.scale-400.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconWideTile.scale-100.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconWideTile.scale-100.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconWideTile.scale-125.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconWideTile.scale-125.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconWideTile.scale-150.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconWideTile.scale-150.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconWideTile.scale-200.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconWideTile.scale-200.png
/RecipeApp/bin/Debug/net9.0-desktop/Assets/Icons/iconWideTile.scale-400.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/Assets/Icons/iconWideTile.scale-400.png
/.idea/.idea.RecipeApp/.idea/indexLayout.xml
/.vscode/launch.json
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/win-arm64/native/libHarfBuzzSharp.dll
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/win-x64/native/libHarfBuzzSharp.dll
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/osx/native/libHarfBuzzSharp.dylib
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/linux-arm/native/libHarfBuzzSharp.so
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/linux-arm64/native/libHarfBuzzSharp.so
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/linux-x64/native/libHarfBuzzSharp.so
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/win-arm64/native/libSkiaSharp.dll
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/win-x64/native/libSkiaSharp.dll
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/osx/native/libSkiaSharp.dylib
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/linux-arm/native/libSkiaSharp.so
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/linux-arm64/native/libSkiaSharp.so
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/linux-x64/native/libSkiaSharp.so
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/osx/native/libUnoNativeMac.dylib
/RecipeApp/bin/Debug/net9.0-desktop/LibVLCSharp.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Bcl.AsyncInterfaces.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Configuration.Abstractions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Configuration.Binder.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Configuration.CommandLine.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Configuration.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Configuration.FileExtensions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Configuration.Json.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Configuration.UserSecrets.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.DependencyInjection.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Diagnostics.Abstractions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Diagnostics.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.FileProviders.Abstractions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.FileProviders.Physical.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.FileSystemGlobbing.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Hosting.Abstractions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Hosting.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Logging.Abstractions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Logging.Configuration.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Logging.Console.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Logging.Debug.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Logging.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Logging.EventLog.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Logging.EventSource.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Options.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Extensions.Primitives.dll
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/win/lib/net9.0/Microsoft.Win32.SystemEvents.dll
/RecipeApp/bin/Debug/net9.0-desktop/Microsoft.Win32.SystemEvents.dll
/RecipeApp/bin/Debug/net9.0-desktop/Newtonsoft.Json.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans.ttf.manifest
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-Bold.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-BoldItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-ExtraBold.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-ExtraBoldItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-Italic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-Light.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-LightItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-Medium.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-MediumItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-Regular.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-SemiBold.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans-SemiBoldItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Bold.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-BoldItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-ExtraBold.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-ExtraBoldItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Italic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Light.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-LightItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Medium.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-MediumItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Regular.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-SemiBold.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-SemiBoldItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Bold.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-BoldItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-ExtraBold.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Italic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Light.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-LightItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Medium.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-MediumItalic.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Regular.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-SemiBold.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/m/Package.appxmanifest
/RecipeApp/obj/project.assets.json
/RecipeApp.Tests/obj/project.assets.json
/RecipeApp/obj/project.nuget.cache
/RecipeApp.Tests/obj/project.nuget.cache
/RecipeApp/obj/project.packagespec.json
/RecipeApp.Tests/obj/project.packagespec.json
/RecipeApp/obj/Debug/net9.0/RecipeApp.AssemblyInfoInputs.cache
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.AssemblyInfoInputs.cache
/RecipeApp/obj/Debug/net9.0/RecipeApp.assets.cache
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.assets.cache
/RecipeApp/obj/Debug/net9.0/RecipeApp.csproj.AssemblyReference.cache
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.csproj.AssemblyReference.cache
/RecipeApp/obj/Debug/net9.0/RecipeApp.csproj.CoreCompileInputs.cache
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.csproj.CoreCompileInputs.cache
/RecipeApp/obj/Debug/net9.0/RecipeApp.csproj.FileListAbsolute.txt
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.csproj.FileListAbsolute.txt
/RecipeApp/obj/RecipeApp.csproj.nuget.dgspec.json
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.csproj.Up2Date
/RecipeApp/obj/Debug/net9.0/RecipeApp.d-bfalse.GeneratedMSBuildEditorConfig.editorconfig
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.d-bfalse.GeneratedMSBuildEditorConfig.editorconfig
/RecipeApp/bin/Debug/net9.0/RecipeApp.deps.json
/RecipeApp/bin/Debug/net9.0-desktop/RecipeApp.deps.json
/RecipeApp/bin/Debug/net9.0/RecipeApp.dll
/RecipeApp/bin/Debug/net9.0-desktop/RecipeApp.dll
/RecipeApp/obj/Debug/net9.0/ref/RecipeApp.dll
/RecipeApp/obj/Debug/net9.0/refint/RecipeApp.dll
/RecipeApp/obj/Debug/net9.0/RecipeApp.dll
/RecipeApp/obj/Debug/net9.0-desktop/ref/RecipeApp.dll
/RecipeApp/obj/Debug/net9.0-desktop/refint/RecipeApp.dll
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.dll
/RecipeApp/bin/Debug/net9.0-desktop/RecipeApp.exe
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.genruntimeconfig.cache
/RecipeApp/bin/Debug/net9.0/RecipeApp.pdb
/RecipeApp/bin/Debug/net9.0-desktop/RecipeApp.pdb
/RecipeApp/obj/Debug/net9.0/RecipeApp.pdb
/RecipeApp/obj/Debug/net9.0-desktop/RecipeApp.pdb
/RecipeApp/bin/Debug/net9.0-desktop/RecipeApp.runtimeconfig.json
/RecipeApp.Tests/obj/Debug/net9.0/RecipeApp.Tests.AssemblyInfoInputs.cache
/RecipeApp.Tests/obj/Debug/net9.0/RecipeApp.Tests.assets.cache
/RecipeApp.Tests/obj/Debug/net9.0/RecipeApp.Tests.csproj.AssemblyReference.cache
/RecipeApp.Tests/obj/RecipeApp.Tests.csproj.nuget.dgspec.json
/RecipeApp/obj/Debug/net9.0/g/ResourcesGenerator/Strings/en/Resources.upri
/RecipeApp/obj/Debug/net9.0-desktop/g/ResourcesGenerator/Strings/en/Resources.upri
/RecipeApp/obj/rider.project.model.nuget.info
/RecipeApp.Tests/obj/rider.project.model.nuget.info
/RecipeApp/obj/rider.project.restore.info
/RecipeApp.Tests/obj/rider.project.restore.info
/RecipeApp/bin/Debug/net9.0/Uno.Fonts.Roboto/Fonts/Roboto-Light.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.Roboto/Fonts/Roboto-Light.ttf
/RecipeApp/bin/Debug/net9.0/Uno.Fonts.Roboto/Fonts/Roboto-Medium.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.Roboto/Fonts/Roboto-Medium.ttf
/RecipeApp/bin/Debug/net9.0/Uno.Fonts.Roboto/Fonts/Roboto-Regular.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.Roboto/Fonts/Roboto-Regular.ttf
/.vscode/settings.json
/RecipeApp/bin/Debug/net9.0-desktop/Assets/SharedAssets.md
/RecipeApp/bin/Debug/net9.0-desktop/SkiaSharp.dll
/RecipeApp/bin/Debug/net9.0-desktop/SkiaSharp.Resources.dll
/RecipeApp/bin/Debug/net9.0-desktop/SkiaSharp.SceneGraph.dll
/RecipeApp/bin/Debug/net9.0-desktop/SkiaSharp.Skottie.dll
/RecipeApp/bin/Debug/net9.0-desktop/SkiaSharp.Views.Windows.dll
/RecipeApp/bin/Debug/net9.0-desktop/SkiaSharp.Views.Windows.pdb
/RecipeApp/bin/Debug/net9.0-desktop/splash_screen.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/splash_screen.png
/RecipeApp/bin/Debug/net9.0-desktop/splash_screen.scale-100.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/splash_screen.scale-100.png
/RecipeApp/bin/Debug/net9.0-desktop/splash_screen.scale-125.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/splash_screen.scale-125.png
/RecipeApp/bin/Debug/net9.0-desktop/splash_screen.scale-150.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/splash_screen.scale-150.png
/RecipeApp/bin/Debug/net9.0-desktop/splash_screen.scale-200.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/splash_screen.scale-200.png
/RecipeApp/bin/Debug/net9.0-desktop/splash_screen.scale-300.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/splash_screen.scale-300.png
/RecipeApp/bin/Debug/net9.0-desktop/splash_screen.scale-400.png
/RecipeApp/obj/Debug/net9.0-desktop/unoresizetizer/r/splash_screen.scale-400.png
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
/RecipeApp/bin/Debug/net9.0-desktop/System.Diagnostics.EventLog.dll
/RecipeApp/bin/Debug/net9.0-desktop/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
/RecipeApp/bin/Debug/net9.0-desktop/System.Json.dll
/RecipeApp/bin/Debug/net9.0-desktop/System.Linq.Async.dll
/.vscode/tasks.json
/RecipeApp/bin/Debug/net9.0-desktop/Tmds.DBus.Protocol.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Core.Extensions.Collections.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Core.Extensions.Disposables.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Core.Extensions.Equality.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Core.Extensions.Logging.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Core.Extensions.Logging.Singleton.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Diagnostics.Eventing.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Extensions.Core.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Extensions.Core.UI.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Extensions.Reactive.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Extensions.Reactive.Messaging.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Extensions.Reactive.UI.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.Fluent.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.OpenSans.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.Roboto.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Foundation.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Foundation.Logging.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Foundation.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Material.WinUI.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Themes.WinUI.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Toolkit.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Toolkit.WinUI.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Toolkit.WinUI.Material.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Adapter.Microsoft.Extensions.Logging.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Composition.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Composition.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Dispatching.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Dispatching.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.FluentTheme.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.FluentTheme.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.FluentTheme.v1.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.FluentTheme.v1.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.FluentTheme.v2.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.FluentTheme.v2.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.Abstractions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.Client.Core.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.Client.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.CommunityToolkit.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.Hierarchy.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.Messaging.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.PropertyGrid.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.Toolbox.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.Xaml.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.Xaml.Interactions.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.HotDesign.Xaml.Interactivity.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Lottie.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Lottie.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.RemoteControl.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.RemoteControl.Messaging.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.RemoteControl.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Runtime.Skia.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Runtime.Skia.Linux.FrameBuffer.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Runtime.Skia.MacOS.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Runtime.Skia.Win32.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Runtime.Skia.Win32.Support.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Runtime.Skia.Wpf.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Runtime.Skia.X11.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Toolkit.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.UI.Toolkit.pdb
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Wasm.WebSockets.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.WinUI.Graphics2DSK.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Xaml.dll
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Xaml.pdb
/RecipeApp/bin/Debug/net9.0/Uno.Fonts.Fluent/Fonts/uno-fluentui-assets.ttf
/RecipeApp/bin/Debug/net9.0-desktop/Uno.Fonts.Fluent/Fonts/uno-fluentui-assets.ttf
/RecipeApp/obj/Debug/net9.0-desktop/UnoImage.inputs
/RecipeApp/obj/Debug/net9.0/UnoImage.stamp
/RecipeApp/obj/Debug/net9.0-desktop/UnoImage.stamp
/RecipeApp/obj/Debug/net9.0-desktop/Unomanifest.stamp
/RecipeApp/obj/Debug/net9.0-desktop/Unosplash.inputs
/RecipeApp/obj/Debug/net9.0-desktop/Unosplash.stamp
/RecipeApp/obj/Debug/net9.0/Substitutions/UpriResources.Substitutions.xml
/RecipeApp/obj/Debug/net9.0-desktop/Substitutions/UpriResources.Substitutions.xml
/.idea/.idea.RecipeApp/.idea/vcs.xml
